.feeds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div {
        background: desaturate(lighten($color, 50%), 100%);
        border: 0.1em solid desaturate(lighten($color, 20%), 100%);
        border-radius: 0.5em;
        box-shadow: 0 0.5em 0.5em $shadow;
        margin: 0 1em 1em 0;
        min-width: 400px;
        overflow: hidden;
        width: calc(33% - 1em);

        @media screen and (max-width: 960px) {
            width: 100%;
        }

        h2 {
            border-bottom: 0.1em solid desaturate(lighten($color, 20%), 100%);
            color: desaturate(darken($color, 40%), 50%);
            font-size: 1em;
            padding: 0.5em 1em;
        }

        a {
            color: desaturate(darken($color, 40%), 20%);
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            padding: 0.5em 1em;
            text-decoration: none;
            transition: transform 0.33s;
            white-space: nowrap;

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }

            .timestamp {
                border-right: 0.1em solid desaturate(darken($color, 10%), 30%);
                color: desaturate(darken($color, 10%), 30%);
                margin-right: 0.5em;
                min-width: 5.5em;
                padding-right: 0.25em;
            }

            &:not(:last-child) {
                border-bottom: 0.1em solid desaturate(lighten($color, 20%), 100%);
            }

            &:last-child {
                border-radius: 0 0 0.5em 0.5em;
            }

            &:focus,
            &:hover {
                background: desaturate(darken($color, 40%), 5%);
                border-color: desaturate(darken($color, 40%), 5%);
                color: desaturate(lighten($color, 50%), 100%);
                transform: scale(1.025);

                .timestamp {
                    color: desaturate(lighten($color, 50%), 100%);
                }
            }
        }
    }
}
